body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url('arkaplan.jpg');
}
a{
    text-decoration: none;
    color:black;
}

h5{
    color:rgb(167, 20, 20);
}
.card-footer
{
    background-color: beige;
}

.container
{
    height: 50px;
    background-color: aqua;
}
.col-sm-2
{
    background-color: beige;
    text-align: center;
}
.col-sm-8
{
    background-color: aliceblue;
}
.temizle
{
    height: 15px;
    width: 100%;
}
.nav
{
    text-align: left;
}
img{
    padding-top: 15px;
}
table{
    padding-bottom: 10px;
}
